<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yg.module_system" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name="com.yg.module.SystemApp"
        android:theme="@style/AppTheme">
        >


        <activity android:name="com.yg.module.SystemActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
