<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yg.module_home" >


<application
   android:name="com.yg.module.HomeApp"
    android:theme="@style/AppTheme">
    >


<activity android:name="com.yg.module.HomeActivity">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
    

</application>
</manifest>